/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

/* Style untuk header */

.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 10vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}

.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}

/* Style untuk card buku */

.sidebar.open ~ .tabel {
  left: 250px;
  width: calc(100% - 250px);
}

.tabel{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.tabel .card{
  /* display: inline-block; */
  color: black;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  margin: 0 18px 18px 18px
}

/* Footer  */

#sticky-footer {
  background-color: #1d1b31;
}